
RewriteEngine On
Options +FollowSymLinks

<IfModule mod_security.c>
    SecFilterEngine Off
    SecFilterScanPOST Off
</IfModule>


#RewriteCond %{HTTP_HOST} ^allbusiness.com.au [NC] 
#RewriteRule ^(.*)$ https://www.allbusiness.com.au/$1 [L,R=301]

#RewriteCond %{HTTP_HOST} allbusiness\.com.au [NC]
#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://www.allbusiness.com.au/$1 [R,L]

RewriteRule ^business-for-sale/vic$ cms/buy-business.php?state=VIC&landing=state [L]

RewriteRule ^business-for-sale/act$ cms/buy-business.php?state=ACT&landing=state [L]
RewriteRule ^business-for-sale/nsw$ cms/buy-business.php?state=NSW&landing=state [L]
RewriteRule ^business-for-sale/nt$ cms/buy-business.php?state=NT&landing=state [L]
RewriteRule ^business-for-sale/qld$ cms/buy-business.php?state=QLD&landing=state [L]
RewriteRule ^business-for-sale/sa$ cms/buy-business.php?state=SA&landing=state [L]
RewriteRule ^business-for-sale/tas$ cms/buy-business.php?state=TAS&landing=state [L]
RewriteRule ^business-for-sale/vic$ cms/buy-business.php?state=VIC&landing=state [L]
RewriteRule ^business-for-sale/wa$ cms/buy-business.php?state=WA&landing=state [L]



RewriteRule  ^business-for-sale/vic/melbourne$ cms/buy-business.php?lid=3000&landing=city [L] 
RewriteRule  ^business-for-sale/nsw/sydney$ cms/buy-business.php?lid=2000&landing=city [L] 
RewriteRule  ^business-for-sale/qld/brisbane$ cms/buy-business.php?lid=4000&landing=city [L] 
RewriteRule  ^business-for-sale/wa/perth$ cms/buy-business.php?lid=6000&landing=city [L] 
RewriteRule  ^business-for-sale/sa/adelaide$ cms/buy-business.php?lid=5000&landing=city [L] 
RewriteRule  ^business-for-sale/tas/hobart$ cms/buy-business.php?lid=7000&landing=city [L] 
RewriteRule  ^business-for-sale/act/canberra$ cms/buy-business.php?lid=2600&landing=city [L] 
RewriteRule  ^business-for-sale/nt/darwin$ cms/buy-business.php?lid=0800&landing=city [L] 
RewriteRule  ^accommodation-tourism$ cms/buy-business.php?category=1&landing=category [L] 
RewriteRule  ^automotive$ cms/buy-business.php?category=2&landing=category [L] 
RewriteRule  ^beauty-health$ cms/buy-business.php?category=3&landing=category [L] 
RewriteRule  ^education-training$ cms/buy-business.php?category=4&landing=category [L] 
RewriteRule  ^food-hospitality$ cms/buy-business.php?category=5&landing=category [L] 
RewriteRule  ^franchise$ cms/buy-business.php?category=6&landing=category [L] 
RewriteRule  ^home-garden$ cms/buy-business.php?category=7&landing=category [L] 
RewriteRule  ^import-export-whole$ cms/buy-business.php?category=8&landing=category [L] 
RewriteRule  ^industrial-manufacturing$ cms/buy-business.php?category=9&landing=category [L] 
RewriteRule  ^leisure-entertainment$ cms/buy-business.php?category=10&landing=category [L] 
RewriteRule  ^professional$ cms/buy-business.php?category=11&landing=category [L] 
RewriteRule  ^retail$ cms/buy-business.php?category=12&landing=category [L] 
RewriteRule  ^rural$ cms/buy-business.php?category=13&landing=category [L] 
RewriteRule  ^services$ cms/buy-business.php?category=14&landing=category [L] 
RewriteRule  ^transport-distribution$ cms/buy-business.php?category=15&landing=category [L] 
RewriteRule  ^aged-care$ cms/buy-business.php?category=16&landing=category [L] 
RewriteRule  ^backpacker-hostel$ cms/buy-business.php?category=17&landing=category [L] 
RewriteRule  ^boarding-kennels$ cms/buy-business.php?category=18&landing=category [L] 
RewriteRule  ^caravan-park$ cms/buy-business.php?category=19&landing=category [L] 
RewriteRule  ^function-centre$ cms/buy-business.php?category=20&landing=category [L] 
RewriteRule  ^guest-house-bb$ cms/buy-business.php?category=21&landing=category [L] 
RewriteRule  ^hotel$ cms/buy-business.php?category=22&landing=category [L] 
RewriteRule  ^management-rights$ cms/buy-business.php?category=23&landing=category [L] 
RewriteRule  ^motel$ cms/buy-business.php?category=24&landing=category [L] 
RewriteRule  ^resort$ cms/buy-business.php?category=25&landing=category [L] 
RewriteRule  ^retirement-village$ cms/buy-business.php?category=26&landing=category [L] 
RewriteRule  ^theme-park$ cms/buy-business.php?category=27&landing=category [L] 
RewriteRule  ^tours$ cms/buy-business.php?category=28&landing=category [L] 
RewriteRule  ^accessories-parts$ cms/buy-business.php?category=29&landing=category [L] 
RewriteRule  ^aeronautical$ cms/buy-business.php?category=30&landing=category [L] 
RewriteRule  ^auto-electrical$ cms/buy-business.php?category=31&landing=category [L] 
RewriteRule  ^bike-and-motorcycle$ cms/buy-business.php?category=32&landing=category [L] 
RewriteRule  ^car-dealership$ cms/buy-business.php?category=33&landing=category [L] 
RewriteRule  ^car-rental$ cms/buy-business.php?category=34&landing=category [L] 
RewriteRule  ^car-wash$ cms/buy-business.php?category=35&landing=category [L] 
RewriteRule  ^detailing$ cms/buy-business.php?category=36&landing=category [L] 
RewriteRule  ^driving-schools$ cms/buy-business.php?category=37&landing=category [L] 
RewriteRule  ^marine$ cms/buy-business.php?category=38&landing=category [L] 
RewriteRule  ^mechanical-repair$ cms/buy-business.php?category=39&landing=category [L] 
RewriteRule  ^panel-beating$ cms/buy-business.php?category=40&landing=category [L] 
RewriteRule  ^service-station$ cms/buy-business.php?category=41&landing=category [L] 
RewriteRule  ^truck$ cms/buy-business.php?category=42&landing=category [L] 
RewriteRule  ^wreckers$ cms/buy-business.php?category=43&landing=category [L] 
RewriteRule  ^beauty-products$ cms/buy-business.php?category=44&landing=category [L] 
RewriteRule  ^beauty-salon$ cms/buy-business.php?category=45&landing=category [L] 
RewriteRule  ^dental$ cms/buy-business.php?category=46&landing=category [L] 
RewriteRule  ^hair$ cms/buy-business.php?category=47&landing=category [L] 
RewriteRule  ^health-spa$ cms/buy-business.php?category=48&landing=category [L] 
RewriteRule  ^hospital$ cms/buy-business.php?category=49&landing=category [L] 
RewriteRule  ^massage$ cms/buy-business.php?category=50&landing=category [L] 
RewriteRule  ^medical$ cms/buy-business.php?category=51&landing=category [L] 
RewriteRule  ^medical-practice$ cms/buy-business.php?category=52&landing=category [L] 
RewriteRule  ^nails$ cms/buy-business.php?category=53&landing=category [L] 
RewriteRule  ^natural-therapies$ cms/buy-business.php?category=54&landing=category [L] 
RewriteRule  ^nursing-home$ cms/buy-business.php?category=55&landing=category [L] 
RewriteRule  ^recreation-sport$ cms/buy-business.php?category=56&landing=category [L] 
RewriteRule  ^child-care$ cms/buy-business.php?category=57&landing=category [L] 
RewriteRule  ^educational$ cms/buy-business.php?category=58&landing=category [L] 
RewriteRule  ^employment-recruitment$ cms/buy-business.php?category=59&landing=category [L] 
RewriteRule  ^training$ cms/buy-business.php?category=60&landing=category [L] 
RewriteRule  ^alcohol-liquor$ cms/buy-business.php?category=61&landing=category [L] 
RewriteRule  ^bakery$ cms/buy-business.php?category=62&landing=category [L] 
RewriteRule  ^butcher$ cms/buy-business.php?category=63&landing=category [L] 
RewriteRule  ^cafe-coffee-shop$ cms/buy-business.php?category=64&landing=category [L] 
RewriteRule  ^catering$ cms/buy-business.php?category=65&landing=category [L] 
RewriteRule  ^convenience-store$ cms/buy-business.php?category=66&landing=category [L] 
RewriteRule  ^deli$ cms/buy-business.php?category=67&landing=category [L] 
RewriteRule  ^distributors$ cms/buy-business.php?category=68&landing=category [L] 
RewriteRule  ^fruit-veg$ cms/buy-business.php?category=69&landing=category [L] 
RewriteRule  ^juice-bar$ cms/buy-business.php?category=70&landing=category [L] 
RewriteRule  ^manufacturers$ cms/buy-business.php?category=71&landing=category [L] 
RewriteRule  ^restaurant$ cms/buy-business.php?category=72&landing=category [L] 
RewriteRule  ^retailer$ cms/buy-business.php?category=73&landing=category [L] 
RewriteRule  ^supermarket$ cms/buy-business.php?category=74&landing=category [L] 
RewriteRule  ^takeaway-food$ cms/buy-business.php?category=75&landing=category [L] 
RewriteRule  ^wholesalers$ cms/buy-business.php?category=76&landing=category [L] 
RewriteRule  ^gardening$ cms/buy-business.php?category=77&landing=category [L] 
RewriteRule  ^home-based$ cms/buy-business.php?category=78&landing=category [L] 
RewriteRule  ^homewares-hardware$ cms/buy-business.php?category=79&landing=category [L] 
RewriteRule  ^irrigation-services$ cms/buy-business.php?category=80&landing=category [L] 
RewriteRule  ^nursery$ cms/buy-business.php?category=81&landing=category [L] 
RewriteRule  ^customs$ cms/buy-business.php?category=82&landing=category [L] 
RewriteRule  ^export$ cms/buy-business.php?category=83&landing=category [L] 
RewriteRule  ^freight$ cms/buy-business.php?category=84&landing=category [L] 
RewriteRule  ^import$ cms/buy-business.php?category=85&landing=category [L] 
RewriteRule  ^wholesale$ cms/buy-business.php?category=86&landing=category [L] 
RewriteRule  ^building-and-construction$ cms/buy-business.php?category=87&landing=category [L] 
RewriteRule  ^civil$ cms/buy-business.php?category=88&landing=category [L] 
RewriteRule  ^clothing-footwear$ cms/buy-business.php?category=89&landing=category [L] 
RewriteRule  ^electrical$ cms/buy-business.php?category=90&landing=category [L] 
RewriteRule  ^food-beverage$ cms/buy-business.php?category=91&landing=category [L] 
RewriteRule  ^furniture-timber$ cms/buy-business.php?category=92&landing=category [L] 
RewriteRule  ^glass-ceramic$ cms/buy-business.php?category=93&landing=category [L] 
RewriteRule  ^machinery-metal$ cms/buy-business.php?category=94&landing=category [L] 
RewriteRule  ^manufacturing-engineering$ cms/buy-business.php?category=95&landing=category [L] 
RewriteRule  ^mining-earth-moving$ cms/buy-business.php?category=96&landing=category [L] 
RewriteRule  ^oil-gas$ cms/buy-business.php?category=97&landing=category [L] 
RewriteRule  ^plastic$ cms/buy-business.php?category=98&landing=category [L] 
RewriteRule  ^water$ cms/buy-business.php?category=99&landing=category [L] 
RewriteRule  ^welding$ cms/buy-business.php?category=100&landing=category [L] 
RewriteRule  ^adult$ cms/buy-business.php?category=101&landing=category [L] 
RewriteRule  ^aircraft$ cms/buy-business.php?category=102&landing=category [L] 
RewriteRule  ^amusements$ cms/buy-business.php?category=103&landing=category [L] 
RewriteRule  ^aquatic-marine$ cms/buy-business.php?category=104&landing=category [L] 
RewriteRule  ^arts-crafts$ cms/buy-business.php?category=105&landing=category [L] 
RewriteRule  ^bars-nightclubs$ cms/buy-business.php?category=106&landing=category [L] 
RewriteRule  ^function-centre$ cms/buy-business.php?category=107&landing=category [L] 
RewriteRule  ^gambling$ cms/buy-business.php?category=108&landing=category [L] 
RewriteRule  ^garden-nurseries$ cms/buy-business.php?category=109&landing=category [L] 
RewriteRule  ^hotel$ cms/buy-business.php?category=110&landing=category [L] 
RewriteRule  ^music-video$ cms/buy-business.php?category=111&landing=category [L] 
RewriteRule  ^recreation-sport$ cms/buy-business.php?category=112&landing=category [L] 
RewriteRule  ^sports-complex-gym$ cms/buy-business.php?category=113&landing=category [L] 
RewriteRule  ^vending$ cms/buy-business.php?category=114&landing=category [L] 
RewriteRule  ^accounting$ cms/buy-business.php?category=115&landing=category [L] 
RewriteRule  ^advertising-mkting$ cms/buy-business.php?category=116&landing=category [L] 
RewriteRule  ^bookkeeping$ cms/buy-business.php?category=117&landing=category [L] 
RewriteRule  ^brokerage$ cms/buy-business.php?category=118&landing=category [L] 
RewriteRule  ^civil$ cms/buy-business.php?category=119&landing=category [L] 
RewriteRule  ^communications$ cms/buy-business.php?category=120&landing=category [L] 
RewriteRule  ^computer-it$ cms/buy-business.php?category=121&landing=category [L] 
RewriteRule  ^finance$ cms/buy-business.php?category=122&landing=category [L] 
RewriteRule  ^insurance$ cms/buy-business.php?category=123&landing=category [L] 
RewriteRule  ^internet$ cms/buy-business.php?category=124&landing=category [L] 
RewriteRule  ^legal$ cms/buy-business.php?category=125&landing=category [L] 
RewriteRule  ^media$ cms/buy-business.php?category=126&landing=category [L] 
RewriteRule  ^medical$ cms/buy-business.php?category=127&landing=category [L] 
RewriteRule  ^property-real-estate$ cms/buy-business.php?category=128&landing=category [L] 
RewriteRule  ^recruitment$ cms/buy-business.php?category=129&landing=category [L] 
RewriteRule  ^scientific$ cms/buy-business.php?category=130&landing=category [L] 
RewriteRule  ^security$ cms/buy-business.php?category=131&landing=category [L] 
RewriteRule  ^travel$ cms/buy-business.php?category=132&landing=category [L] 
RewriteRule  ^animal-related$ cms/buy-business.php?category=133&landing=category [L] 
RewriteRule  ^clothing-accessories$ cms/buy-business.php?category=134&landing=category [L] 
RewriteRule  ^entertainment-tech$ cms/buy-business.php?category=135&landing=category [L] 
RewriteRule  ^florist-nursery$ cms/buy-business.php?category=136&landing=category [L] 
RewriteRule  ^food-beverage$ cms/buy-business.php?category=137&landing=category [L] 
RewriteRule  ^health-beauty$ cms/buy-business.php?category=138&landing=category [L] 
RewriteRule  ^homeware-hardware$ cms/buy-business.php?category=139&landing=category [L] 
RewriteRule  ^newsagency-tatts$ cms/buy-business.php?category=140&landing=category [L] 
RewriteRule  ^office-supplies$ cms/buy-business.php?category=141&landing=category [L] 
RewriteRule  ^pharmacies$ cms/buy-business.php?category=142&landing=category [L] 
RewriteRule  ^post-offices$ cms/buy-business.php?category=143&landing=category [L] 
RewriteRule  ^vending$ cms/buy-business.php?category=144&landing=category [L] 
RewriteRule  ^aerial$ cms/buy-business.php?category=145&landing=category [L] 
RewriteRule  ^agricultural$ cms/buy-business.php?category=146&landing=category [L] 
RewriteRule  ^aquaculture$ cms/buy-business.php?category=147&landing=category [L] 
RewriteRule  ^crop-harvesting$ cms/buy-business.php?category=148&landing=category [L] 
RewriteRule  ^dairy-farming$ cms/buy-business.php?category=149&landing=category [L] 
RewriteRule  ^farming$ cms/buy-business.php?category=150&landing=category [L] 
RewriteRule  ^fertiliser$ cms/buy-business.php?category=151&landing=category [L] 
RewriteRule  ^fishing-forestry$ cms/buy-business.php?category=152&landing=category [L] 
RewriteRule  ^fruit-picking$ cms/buy-business.php?category=153&landing=category [L] 
RewriteRule  ^hunting-trap$ cms/buy-business.php?category=154&landing=category [L] 
RewriteRule  ^insemination$ cms/buy-business.php?category=155&landing=category [L] 
RewriteRule  ^irrigation-services$ cms/buy-business.php?category=156&landing=category [L] 
RewriteRule  ^land-clearing$ cms/buy-business.php?category=157&landing=category [L] 
RewriteRule  ^livestock$ cms/buy-business.php?category=158&landing=category [L] 
RewriteRule  ^machinery$ cms/buy-business.php?category=159&landing=category [L] 
RewriteRule  ^mustering$ cms/buy-business.php?category=160&landing=category [L] 
RewriteRule  ^shearing$ cms/buy-business.php?category=161&landing=category [L] 
RewriteRule  ^wool-classing$ cms/buy-business.php?category=162&landing=category [L] 
RewriteRule  ^aircraft$ cms/buy-business.php?category=163&landing=category [L] 
RewriteRule  ^alarms$ cms/buy-business.php?category=164&landing=category [L] 
RewriteRule  ^animal-related$ cms/buy-business.php?category=165&landing=category [L] 
RewriteRule  ^boats-marine$ cms/buy-business.php?category=166&landing=category [L] 
RewriteRule  ^car-bus-truck$ cms/buy-business.php?category=167&landing=category [L] 
RewriteRule  ^cleaning$ cms/buy-business.php?category=168&landing=category [L] 
RewriteRule  ^communication$ cms/buy-business.php?category=169&landing=category [L] 
RewriteRule  ^copy-laminate$ cms/buy-business.php?category=170&landing=category [L] 
RewriteRule  ^courier$ cms/buy-business.php?category=171&landing=category [L] 
RewriteRule  ^driving-schools$ cms/buy-business.php?category=172&landing=category [L] 
RewriteRule  ^entertainment$ cms/buy-business.php?category=173&landing=category [L] 
RewriteRule  ^garden-household$ cms/buy-business.php?category=174&landing=category [L] 
RewriteRule  ^hire-rent$ cms/buy-business.php?category=175&landing=category [L] 
RewriteRule  ^limousine-taxi$ cms/buy-business.php?category=176&landing=category [L] 
RewriteRule  ^machinery$ cms/buy-business.php?category=177&landing=category [L] 
RewriteRule  ^management-rights$ cms/buy-business.php?category=178&landing=category [L] 
RewriteRule  ^medical$ cms/buy-business.php?category=179&landing=category [L] 
RewriteRule  ^mobile-services$ cms/buy-business.php?category=180&landing=category [L] 
RewriteRule  ^pest-related$ cms/buy-business.php?category=181&landing=category [L] 
RewriteRule  ^pool-water$ cms/buy-business.php?category=182&landing=category [L] 
RewriteRule  ^print-photo$ cms/buy-business.php?category=183&landing=category [L] 
RewriteRule  ^repair$ cms/buy-business.php?category=184&landing=category [L] 
RewriteRule  ^air$ cms/buy-business.php?category=185&landing=category [L] 
RewriteRule  ^bus$ cms/buy-business.php?category=186&landing=category [L] 
RewriteRule  ^car$ cms/buy-business.php?category=187&landing=category [L] 
RewriteRule  ^parking$ cms/buy-business.php?category=188&landing=category [L] 
RewriteRule  ^rail$ cms/buy-business.php?category=189&landing=category [L] 
RewriteRule  ^road$ cms/buy-business.php?category=190&landing=category [L] 
RewriteRule  ^sea$ cms/buy-business.php?category=191&landing=category [L] 
RewriteRule  ^taxi$ cms/buy-business.php?category=192&landing=category [L] 
RewriteRule  ^truck$ cms/buy-business.php?category=193&landing=category [L] 




#ErrorDocument 404 /pharmahealth/pages/404.php

RewriteRule  ^buy-business cms/buy-business.php [L,NC,END]
RewriteRule  ^private-sellers cms/private-sellers.php [L,NC,END]
RewriteRule  ^for-brokers cms/for-brokers.php [L,NC,END]

RewriteRule ^business-(.*)-(.*)$ cms/bdetail?id=$2 [L]



RewriteRule  ^buyer-signup cms/signup.php [L,NC,END]
RewriteRule  ^news cms/news.php [L,NC,END]
RewriteRule ^detail-(.*)-(.*)$ cms/news-detail?id=$2 [L]

RewriteRule  ^private-seller cms/private-seller-signup.php [L,NC,END]

RewriteRule ^login cms/login?id=$2 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

<ifModule mod_gzip.c>
  mod_gzip_on Yes
  mod_gzip_dechunk Yes
  mod_gzip_item_include file \.(html?|txt|css|js|php|pl)$
  mod_gzip_item_include mime ^application/x-javascript.*
  mod_gzip_item_include mime ^text/.*
  mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
  mod_gzip_item_exclude mime ^image/.* 
  mod_gzip_item_include handler ^cgi-script$
</ifModule>

# Leverage Browser Caching
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpg "access 1 year"
  ExpiresByType image/webp "access 1 year"
  ExpiresByType image/jpeg "access 1 year"
  ExpiresByType image/gif "access 1 year"
  ExpiresByType image/png "access 1 year"
  ExpiresByType text/css "access 1 year"
  ExpiresByType text/js "access 1 year"
  ExpiresByType text/html "access 1 year"
  ExpiresByType application/pdf "access 1 year"
  ExpiresByType text/x-javascript "access 1 year"
  ExpiresByType application/x-shockwave-flash "access 1 year"
  ExpiresByType image/x-icon "access 1 year"
  ExpiresDefault "access 1 year"
</IfModule>

<IfModule mod_headers.c>
  <filesmatch "\.(ico|flv|jpg|jpeg|png|gif|css|swf|webp)$">
  Header set Cache-Control "max-age=31536000 , public"
  </filesmatch>
  <filesmatch "\.(html|htm)$">
  Header set Cache-Control "max-age=31536000 , private, must-revalidate"
  </filesmatch>
  <filesmatch "\.(pdf)$">
  Header set Cache-Control "max-age=31536000 , public"
  </filesmatch>
  <filesmatch "\.(js)$">
  Header set Cache-Control "max-age=31536000 , private"
  </filesmatch>
</IfModule>


